/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #000e21;
  --ifm-color-primary-dark: #000d1e;
  --ifm-color-primary-darker: #000c1c;
  --ifm-color-primary-darkest: #000a17;
  --ifm-color-primary-light: #000f24;
  --ifm-color-primary-lighter: #001026;
  --ifm-color-primary-lightest: #00122b;
}
/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #16d0ef;
  --ifm-color-primary-dark: #0fbfdc;
  --ifm-color-primary-darker: #0eb4d0;
  --ifm-color-primary-darkest: #0c94ab;
  --ifm-color-primary-light: #2ed5f1;
  --ifm-color-primary-lighter: #3bd7f2;
  --ifm-color-primary-lightest: #5fdff4;
}
